BasedOnStyle: Google
Standard: Latest
IndentWidth: 4
ColumnLimit: 120
AlignAfterOpenBracket: "AlwaysBreak"
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortLambdasOnASingleLine: Inline
AllowAllConstructorInitializersOnNextLine: "false"
AllowAllParametersOfDeclarationOnNextLine: "false"
AllowShortCaseLabelsOnASingleLine: "true"
AllowShortIfStatementsOnASingleLine: "Never"
AllowShortLoopsOnASingleLine: "false"
AlignConsecutiveMacros: "true"
AccessModifierOffset: -4
BinPackParameters: "false"
Cpp11BracedListStyle: "false"
NamespaceIndentation: All
IndentCaseLabels: false
BinPackArguments: false
BreakBeforeBinaryOperators: NonAssignment
DerivePointerAlignment: true
PointerAlignment: Right
AlignTrailingComments: false
SpacesInContainerLiterals: false
SpaceAfterTemplateKeyword: "false"
SpaceBeforeCtorInitializerColon: "true"
SpaceBeforeInheritanceColon: "true"
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: "true"
SpacesBeforeTrailingComments: 4
SpaceInEmptyBlock: true
IncludeBlocks: Preserve
IndentRequires: true
PackConstructorInitializers: NextLine
IncludeCategories:
  - Regex: '^"(llvm|llvm-c|clang|clang-c)/'
    Priority: 2
  - Regex: '^((<|")(gtest|gmock|isl|json)/)'
    Priority: 3
  - Regex: "^<gsl/.*>"
    Priority: 4
  - Regex: "^<.*/.*>"
    Priority: 5
  - Regex: "^<[[:alnum:]_]+>"
    Priority: 4
  - Regex: "^<.*"
    Priority: 5
  - Regex: '^".*'
    Priority: 1
